<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Challange 3</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="icon" type="image/png" href="https://pbs.twimg.com/profile_images/1074422305281892352/RUeRc0W-.jpg">
  <link href="" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> 

  <link href="chapter3/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="chapter3/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="chapter3/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="chapter3/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="chapter3/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="chapter3/vendor/aos/aos.css" rel="stylesheet">

  <link href="chapter3/css/style.css" rel="stylesheet">
</head>
<body>
  <!-- <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top ">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:maschand02@gmail.com">maschand02@gmail.com</a>
        <i class="icofont-phone"></i> +62 859 4755 0565
      </div>
      <div class="social-links">
        <a href="https://twitter.com/MrChand31876332" target="_blank" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="https://github.com/chand19-af" target="_blank" class="github"><i class="icofont-github"></i></a>
        <a href="https://www.instagram.com/ndra_candra08/" target="_blank" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="https://www.linkedin.com/in/candra-prasetyo-52163421b/" target="_blank" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </div> -->

  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo"><a href="index.html">Logo</a></h1>
      <a href="index.html" class="logo"><img src="" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block ml-auto" style="margin-right: 60px;">
        <ul>
          <li><a href="#hero">HOME</a></li>
          <li><a href="#about">WORK</a></li>
          <li><a href="#footer">CONTACT</a></li>
          <li><a href="">ABOUT ME</a></li>
        </ul>
      </nav>
      <nav class="nav-menu d-none d-lg-block ml-auto">
        <ul>
          <li><a href="/register" >SIGN UP</a></li>
          <li><a href="/login" >LOGIN</a></li>
        </ul>
      </nav>

    </div>
  </header>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header d-flex">
          <h5 class="card-title text-center fw-light fs-5">Sign In</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background:none;">
          <div class="row">
            <div class="col-md-12">
              <div class="card border-0 shadow rounded-3">
                <div class="card-body">
                  <form>
                    <div class="form-label-group">
                      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" value="youremail@binar.co.id">
                      <label for="inputEmail">Email address</label>
                    </div>
                    <div class="form-label-group">
                      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                      <label for="floatingPassword">Password</label>
                    </div>
      
                    <div class="form-check mb-3">
                      <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                      <label class="form-check-label" for="rememberPasswordCheck">
                        Remember password
                      </label>
                    </div>
                    <div class="d-grid">
                      <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
                        in</button>
                    </div>
                    <hr class="my-4">
                    <div class="d-grid mb-2">
                      <button class="btn btn-google btn-login text-uppercase fw-bold" type="submit">
                        <i class="fab fa-google me-2"></i> Sign in with Google
                      </button>
                    </div>
                    <div class="d-grid">
                      <button class="btn btn-facebook btn-login text-uppercase fw-bold" type="submit">
                        <i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <center>
            <h1>PLAY TRADITIONAL GAME</h1>
            <p>Experience new traditional game play</p>
            <a href="/login" class="btn-get-started scrollto"><b>PLAY NOW</b></a>
            <p class="story">THE STORY</p>
            <a class="hero-a-scroll" href="#about"><i class='bx bx-down-arrow' style="width: 100px;"></i></a>
        </center>
    </div>
    
  </section>

  <main id="main">
    <section id="about" class="about" style="margin-top: -1px;">
      <div class="container">
        <div class="row" style="margin-top: 10%;">
          <div class="col-lg-8 order-1 order-lg-2" data-aos="fade-left">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li class="carousel-custom-icon" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="chapter3/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="chapter3/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="chapter3/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="chapter3/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="chapter3/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev"  href="#carouselExampleIndicators" role="button" data-slide="prev">
                <img src="chapter3/img/left.svg" alt="">
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <img src="chapter3/img/right.svg" alt="">
              </a>
            </div>
          </div>
          <div class="col-lg-4 pt-4 pt-lg-0 order-2 order-lg-1 content section-title" data-aos="fade-right">
            <p class="text-left">What's so spesial?</p>
            <h2 class="text-left">THE GAMES</h1>
          </div>
        </div>

      </div>
    </section>
    <section id="services" class="services" style="margin-top: -20px;">
      <div class="container">

        <div class="row" style="margin-top: 10%;">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
              <div style="margin-left: 20px;">
                <p class="text-left">What's so spesial?</p>
                <h2 class="text-left">FEATURES</h2>
              </div>
              <ul class="timeline">
                <li class="line">
                  <h3>TRADITIONAL GAMES</h3>
                  <h6 style="margin-bottom: 35px;">If you miss your childhood, we provide many traditional games here</h6>
                </li>
                <li class="line-black">
                  <h3>GAME SUIT</h3>
                </li>
                <li class="line-black" style="margin-top: 35px;">
                  <h3>TBD</h3>
                </li>
              </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content section-title" data-aos="fade-right">
          </div>
        </div>

      </div>
    </section>

    <section id="requirements" class="requirements">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <p class="top-text">Can My Computer Run this game?</p>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h2>SYSTEM REQUIREMENTS</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content section-title" data-aos="fade-right">
            <table class="table text-left">
              <tbody>
                <tr>
                  <td class="col-md-6">
                    <h3>OS:</h3>
                    <p>Windows 7 64-bit only <br>(No OSX support at this time</p>
                  </td>
                  <td>
                    <h3>PROCESSOR:</h3>
                    <p>Intel Core 2 Duo @ 2.4 GHz or<br>AMD Athlon X2 @ 2.8 GHz</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h3>MEMORY:</h3>
                    <p>4 GB RAM</p>
                  </td>
                  <td>
                    <h3>STORAGE:</h3>
                    <p>8 GB Available Space</p>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>GRAPHICS:</h3>
                    <p>NVIDIA GeForce GTX 660 2GB or <br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <section id="topscore" class="topscore">
      <div class="container" data-aos="zoom-in">

        <div class="row ">
          <div class="col-lg-6 order-2 order-lg-1" style="padding-top: 150px;">
            <h2>TOP SCORES</h2>
            <p class="text-score">This top score from various games provided <br> on this platform</p>
            <button class="btn btn-warning btn-lg">see more</button>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-9 align-self-end" data-aos="fade-left">
                <div class="card">
                  <div class="card-body row">
                    <div class="col-md-3 img-relative">
                      <img src="chapter3/img/topscore3.jpg" style="position:absolute;" alt="">
                      <img src="chapter3/img/Ellipse.png" class="frame-avatar" alt="">
                    </div>
                    <div class="col-md-6">
                      <h3>Evan Lahti</h3>
                      <h5 >PC Gamer</h5>
                    </div>
                    <div class="col-md-3">
                      <a href="https://twitter.com/MrChand31876332" target="_blank"><img src="chapter3/img/twitter.svg" class="twitter-logo" alt=""></a>
                    </div>
                    <p class="card-text">“One of my gaming highlights of the year.”</p>
                    <h6>June 18, 2021</h6>
                  </div>
                </div>
              </div>
              <div class="col-sm-9 align-self-end" data-aos="fade-right">
                <div class="card">
                  <div class="card-body row">
                    <div class="col-md-3 img-relative">
                      <img src="chapter3/img/topscore2.jpg" style="position:absolute;" alt="">
                      <img src="chapter3/img/Ellipse.png" class="frame-avatar" alt="">
                    </div>
                    <div class="col-md-6">
                      <h3>Jada Griffin</h3>
                      <h5 >Nerdreactor</h5>
                    </div>
                    <div class="col-md-3">
                      <a href="https://twitter.com/MrChand31876332" target="_blank"><img src="chapter3/img/twitter.svg" class="twitter-logo" alt=""></a>
                    </div>
                    <p class="card-text">“The next big thing in the world of streaming and survival games.”</p>
                    <h6>July 10, 2021</h6>
                  </div>
                </div>
              </div>
              <div class="col-sm-3"></div>
              <div class="col-sm-3"></div>
              <div class="col-sm-9 align-self-end" data-aos="fade-left">
                <div class="card">
                  <div class="card-body row">
                    <div class="col-md-3 img-relative">
                      <img src="chapter3/img/topscore.jpg" style="position:absolute;" alt="">
                      <img src="chapter3/img/Ellipse.png" class="frame-avatar" alt="">
                    </div>
                    <div class="col-md-6">
                      <h3>Aaron Williams</h3>
                      <h5 >Uproxx</h5>
                    </div>
                    <div class="col-md-3">
                      <a href="https://twitter.com/MrChand31876332" target="_blank"><img src="chapter3/img/twitter.svg" class="twitter-logo" alt=""></a>
                    </div>
                    <p class="card-text">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
                    <h6>December 24, 2018</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="footer" class="footer">
      <div class="container d-block" data-aos="zoom-in">

        <div class="row ">
          <div class="col-lg-5 order-2 order-lg-1">
            <img src="chapter3/img/skull.png" class="skull-img" alt="">
          </div>
          <div class="col-lg-7 order-2 order-lg-1"">
            <div class="footer-form">
              <p class="text-left">Want to stay in <br> touch?</p>
              <h2>newsletter SUBSCRIBE</h2>
              <p class="text-inspiratif">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
              <div class="row">
                <div class="col-md-7">
                  <div class="form-label-group">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" value="youremail@binar.co.id">
                    <label for="inputEmail">Email address</label>
                  </div>
                </div>
                <div class="col-md-5">
                  <button class="btn btn-warning btn-lg">Subscribe now</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 order-2 order-lg-1">
            <div class="container d-flex align-items-center">
              <nav class="nav-menu d-none d-lg-block ml-auto" style="margin-right: 60px;">
                <ul>
                  <li><a href="#hero">MAIN</a></li>
                  <li><a href="#about">ABOUT</a></li>
                  <li><a href="#services">GAME FEATURES</a></li>
                  <li><a href="#requirements">SYSTEM REQUIREMENTS</a></li>
                  <li><a href="#topscore">QUOTES</a></li>
                </ul>
              </nav>
              <nav class="nav-menu d-none d-lg-block ml-auto">
                <ul>
                  <li><a href=""><span class="icofont-facebook"></span></a></li>
                  <li><a href="https://www.facebook.com/"><span class="icofont-twitter"></span></a></li>
                  <li><a href="https://www.youtube.com/"><img src="chapter3/img/youtube.svg" alt=""></a></li>
                  <li><a href="#https://www.twitch.tv/"><span class="icofont-twitch"></span></a></li>
                </ul>
              </nav>
        
            </div>
          </div>
          <div class="col-lg-12 order-2 order-lg-1">
            <hr class="break-line">
          </div>
          <div class="col-lg-12 order-2 order-lg-1">
            <div class="row">
              <div class="col-md-6 text-left">
                <p class="blockquote-footer"> © 2018 Your Games, Inc. All Rights Reserved</p>
              </div>
              <div class="col-md-6 text-right">
                <p class=""> Privacy Policy | Terms of Services | Code of Conduct </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>
  <script src="chapter3/vendor/jquery/jquery.min.js"></script>
  <script src="chapter3/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="chapter3/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="chapter3/vendor/php-email-form/validate.js"></script>
  <script src="chapter3/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="chapter3/vendor/venobox/venobox.min.js"></script>
  <script src="chapter3/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="chapter3/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="chapter3/js/main.js"></script>

</body>

</html>